/* Navbar */

.navbar{
    display: flex !important;
    justify-content: space-between !important;
    /* margin: 0px 69px; */
}

.nav-home{
    font-size: 27px;
}

.nav-link{
    margin-left: 32px;
    font-weight: bold !important;
}


.collapse{
    justify-content: flex-end;
}

/* Menu */

.menu{
    height: 550px;
    background-color: #1c3b77;
}

.menu-one{
    display: flex;
    
}

.menu-detail{
    margin-top: 106px;
    margin-left: 115px;
}

.menu-para{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}

.menu-paradetail{
    font-size: 18px;
    width: 80%;
    font-weight: 500;
    color: #f1e1d3;
    margin-bottom: 30px;
}

.menu-button{
    border: none;
    padding: 10px 26px;
    border-radius: 20px;
    text-decoration: none;
    background: #e62e59;
    color: #f1e1d3;
    font-weight: 500;
    cursor: pointer;
}


.menu-image{
    width: 615px;
    height: 550px;
}


/* Award */

.award{
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}

.award-winning{
    width: 45%;
    margin-top: 199px;
}

.award-winning-p{
    font-size: 36px;
    color: #1c3b77;
}

.award-winning-para{
    font-size: 18px;
    color: #5c5c5c;
    margin-bottom: 30px;
}

.award-winning-know{
    border: none;
    padding: 10px 23px;
    border-radius: 20px;
    color: #ffffff;
    background: #e62e59;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.award-winning-know:hover{
    box-shadow:0px 0px 10px 0px rgb(165 169 170 / 51%) !important;
    color: #ffffff;
}

.award-detail{
    width: 50%;
    margin-top: 55px;
}

.award-detail-icon{
    display: flex;
    justify-content: space-between;
}

.icon-detail{
    width: 45%;
    text-align: center;
    background: #ffffff;
    padding: 9.5px;
    box-shadow: 0px 0px 10px 0px rgb(165 169 170 / 51%) !important;
}

.fa-desktop{
    background: #1c3b77;
    border: 2px solid;
    padding: 14px;
    font-size: 39px;
    border-radius: 50%;
    color: white;
}

.award-name{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none solid rgb(61, 62, 63);
    color: #3D3E3F;
    margin-bottom: 3px;
    margin-top: 5px;
}

.award-name-detail{

}


/* Project */

.project,
.pricing,.client {
  text-align: center;
  margin-top: 111px;
}

.project-h1,
.pricing-h1,.client-h1 {
  color: #003b77;
  font-size: 42px;
}

.project-p,
.pricing-p,.client-p {
  max-width: 569px;
  margin: auto;
  font-size: 20px;
  font-family: Poppins;
  color: #5c5c5c;
  font-weight: 400;
  margin-top: 22px;
}

.project-done {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 32px;
  margin-bottom: 58px;
}

.fa-trophy,
.fa-rocket,
.fa-users,
.fa-certificate {
  font-size: 30px;
  color: #ffffff;
  background-color: RGB(0, 59, 119);
  padding: 16px;
  font-weight: 900;
  border-radius: 10px;
}

.project-done-value {
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #3d3e3f;
}

.project-done-detail {
  margin-bottom: 0;
  margin-top: -8px;
  font-size: 20px;
  color: #3d3e3f;
}


/* Pricing */

.pricing-header {
    background-color: #f7f9fd;
    padding-bottom: 70px;
    padding-top: 1px;
  }
  
  .pricing-card {
    border-radius: 45px;
    width: 100%;
    margin-top: 44px;
    background: #fff;
  }
  
  .pricing-card-detail {
    padding: 29px 37px;
  }
  
  .pricing-card-plan {
    padding: 7px 10px;
    text-align: center;
    font-size: 21px;
    border-radius: 33px;
    background: linear-gradient(#d5a3ff 0%, #77a5f8 100%);
  }
  
  .pricing-plan {
    text-decoration: none;
    color: #ffffff;
  }
  
  .price-details {
    margin-top: 20px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
  }
  
  .price {
  }
  
  .price-symbol {

  }
  
  .price-currency {
    font-size: 28px;
  }
  
  .price-money {
    font-size: 49px;
    font-weight: 700;
  }
  
  .price-small {
    font-size: 17px;
  }
  
  .price-list {
    font-size: 20px;
  }
  
  .features {
    margin-top: 26px;
    line-height: 36px;
    list-style-type: none;
  }
  
  .fa-check {
    font-size: 18px;
    margin-right: 9px;
    color: #77a5f8;
  }
  
  .features-detail {
  }
  
  .pricingcard{
    display: flex;
    
  }

  .pricingcarddetail{
    
  }

  /* talk */

.talk {
  background-image: linear-gradient(
      to top,
      rgb(0 59 119 / 30%) 0%,
      rgb(0 59 119 / 30%) 100%
    ),
    url(http://online.hbs.edu/Style%20Library/api/resize.aspx?imgpath=/PublishingImages/Team%20Collaborating%20on%20Project.png&w=1200&h=630);
  width: 100%;
  height: 600px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.talk-detail {
  width: 50%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 30%;
  margin: -50px 0 0 -50px;
  text-align: center;
}

.talk-detail-query {
  font-size: 35px;
  font-weight: bold;
  color: #212529;
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f8f9fa;
}

.talk-detail-project {
  font-size: 35px;
  font-weight: bold;
  color: #212529;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f8f9fa;
}

.talk-detail-register {
  text-decoration: none;
  padding: 15px 31px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  background-color: #fe2a5c;
}

.talk-detail-register:hover {
  color: #ffffff;
}

/* Client */

.client-feedback {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid;
  padding: 10px 23px;
  width: 29%;
  text-align: center;
  background-color: #003b77;
  color: #ffffff;
  border-radius: 20px;
  position: relative;
}

.client-feedback-head {
  margin-bottom: 20px;
}

.fa-quote-left {
  font-size: 35px;
}

.client-feedback-detail {
  font-size: 18px;
  margin-top: 12px;
}

.client-feedback-icon {
}

.fa-star {
  color: yellow;
  margin-left: 10px;
  font-size: 20px;
}

.clientfeedback {
  display: flex;
  justify-content: space-between;
}

.client-deatil-feedback {
  position: absolute;
  display: block;
  margin-top: -25px;
  color: black;
  transform: translateX(-50%);
  left: 50%;
}

.client-image {
  border-radius: 50%;
  width: 73%;
  height: 110px;
}

.client-name {
  font-size: 18px;
  font-weight: 500;
  color: #3d3e3f;
  font-family: Poppins;
}

/* Footer */

.footer {
  margin-top: 111px;
  background-color: #0e0e0e;
}

.footer-file {
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer-detail {
  width: 47%;
  margin-top: 64px;
}

.footer-p {
}

.footer-p-detail {
  margin-top: 30px;
  font-size: 18px;
}

.footer-social-icon {
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-twitter {
  margin-left: 10px;
  font-size: 25px;
  color: #fe2a5c;
}

.footer-service {
  width: 47%;
  margin-top: 64px;
}

.footer-service-type {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.service-heading {
  width: 47%;
}

.service-name {
  display: flex;
}

.fa-angle-right {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fe2a5c;
  margin-top: 6px;
}

.service-name-p {
  font-size: 17px;
}

.service-footer{
  width: 47%;
}


/* adress */

.address {
  background-color: #1a1a1a;
}

.adress-detail {
  display: flex;
  padding: 21px 0px;
  color: #ffffff;
}

.address-location,
.address-gmail,
.address-working {
  display: flex;
  width: 34%;
}

.fa-map-marker,
.fa-envelope,
.fa-headphones {
  font-size: 40px;
  font-weight: 900;
  margin-right: 13px;
  margin-top: 5px;
  color: RGB(254, 42, 92);
}

.address-address {
}

.address-location-one,
.address-gmail-one,
.address-working-one {
  margin: auto;
  margin-bottom: 5px;
  font-size: 18px;
}

.address-location-two,
.address-gmail-two,
.address-working-two {
  margin: auto;
  font-size: 16px;
}

.address-gmail-address {
}

.adress-working-address {
}

.trade {
  background-color: #0e0e0e;
}

.trademark {
  text-align: center;
  color: #ffffff;
  padding: 10px 0px;
}



